<p>
  <strong>Member:</strong>
  <%= "#{@member.first_name} #{@member.last_name}" %>
</p>
<p>
  <strong>Member Number:</strong>
  <%= @member.id %>
</p>
<p>
  <strong>Home Phone:</strong>
  <%= @member.home_phone%>
</p>
<p>
  <strong>Work Phone:</strong>
  <%= @member.work_phone %>
</p>
<p>
  <strong>Mobile Phone:</strong>
  <%= @member.cell_phone %>
</p>
<p>
  <strong>Birthday:</strong>
  <%= @member.birth_day %>
</p>
<p>
  <strong>SSN:</strong>
  <%= @member.ssn %>
</p>